@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Retropix';
    font-style: normal;
    src: url(/fonts/retropix.otf);
  }
}

@layer components {
  .top-result {
    @apply font-bold;
  }
}
